@import '../../variables'

.footer-classic
	font-family 'Open Sans', sans-serif

	&, *
		box-sizing border-box
		margin 0
		padding 0

	+aboveMedium()
		padding-top 40px

	h2
		display block
		cursor pointer
		color #000
		font-weight 700
		line-height 15px
		font-family 'Open Sans', sans-serif

	&__container
		max-width 1220px
		margin 0 auto

		&--info
			+aboveMedium()
				display flex
				justify-content space-between

		&--navigation
			display flex
			flex-direction column

			+aboveMedium()
				flex-direction row
				justify-content space-between
				padding-bottom 15px

	&__logo
		padding 0 20px

		svg
			width 42px
			height 55px

		+aboveMedium()
			flex 0.5

	&__pages-menu
		margin 25px 0
		display flex
		flex-direction column

		+aboveMedium()
			margin 0
			flex-direction row
			flex 2.5

	&__links-group
		border-bottom 1px solid #dcdcdc
		overflow hidden
		max-height 45px
		transition max-height 0.3s ease-out

		&:first-of-type
			border-top 1px solid #dcdcdc

		&--open
			max-height 500px

		+aboveMedium()
			border-bottom none
			max-height none
			flex 1

			&:first-of-type
				border none

	&__links-group-title
		font-size 14px
		padding 15px 20px
		position relative

		&:after, &:before
			content ''
			border 1px solid #000
			position absolute
			top 50%
			width 1px
			height 13px
			margin-top -8px
			transition transform 0.34s cubic-bezier(0.69, 0.01, 0.25, 1)
			opacity 0.15

		&:after
			right 16px
			transform rotate(45deg)

		&:before
			right 25px
			transform rotate(-45deg)

		+aboveMedium()
			font-size 18px
			line-height 20px
			cursor default
			padding-top 0

			&:after, &:before
				display none

	&__links-group--open &__links-group-title
		&:before
			transform rotate(-135deg)

		&:after
			transform rotate(135deg)

	&__links-list
		list-style none
		padding-right 20px
		padding-left 20px

	&__links-group-link
		text-decoration none
		display block
		padding 10px 0
		color #2f2f2f
		font-size 14px
		font-weight 300
		transition text-decoration 0.3s ease

		&:hover
			text-decoration underline

	&__social-icons
		flex 1
		text-align center
		display flex
		flex-direction column
		align-items center
		margin-bottom 60px

		+aboveMedium()
			margin-bottom 0

	&__social-icons-title
		font-size 14px

		+aboveMedium()
			font-size 18px

	&__social-icons-box
		display flex
		justify-content space-between
		width 60%
		margin-top 15px

		+aboveMedium()
			width 100%

	&__social-icon
		max-width 30px
		color #000

		svg
			height 100%
			width 100%

	&__info
		color #555
		background-color #e6e6e6
		font-size 14px
		padding 40px
		padding-bottom 70px

	&__info-block
		text-align center

		&--copy
			color #919191

		&--contact
			margin-top 32px

			+aboveMedium()
				margin-top 0

		span
			display block

		&:not(:last-of-type)
			margin-bottom 30px

		+aboveMedium()
			text-align left