@import '../../variables'

$main-blue = #352ca4
$color-blue-light = #0de3f2
$color-white = #fff
$header-mobile-height = 60px

.header-classic
	*
		box-sizing border-box

	ul
		list-style none

	position absolute
	top 0
	left 0
	right 0
	color $color-white
	font-family 'Open Sans', sans-serif
	font-size 14px
	font-weight 400

	&__navbar
		background-color $main-blue
		height 60px
		display flex
		align-items center

		+aboveSmall()
			height 70px

	&__container
		display flex
		justify-content space-between
		align-items center
		width 100%
		max-width 1280px
		margin 0 auto
		padding-left 15px
		padding-right 15px

	&__logo
		height 100%
		width 100%

	&__logo-link
		height 46px
		width 33px
		display block
		color $color-white
		margin-right 20px
		transform scale(0.8)

		+aboveMedium()
			transform scale(1)

	&__panel-right
		flex 1
		display flex
		justify-content flex-end

		+aboveMedium()
			justify-content space-between

	&__hamburger
		display flex
		background-color transparent
		outline none
		border none
		height 17px
		width 20px
		flex-direction column
		justify-content space-between
		cursor pointer

		+aboveMedium()
			display none

	&__hamburger-line
		background-color $color-white
		height 1px
		width 20px

		&--one
			transition transform 0.75s cubic-bezier(1, -0.4, 0, 1.41)
			will-change transform

		&--two, &--three
			transition 0.9s cubic-bezier(0.38, 0.52, 0.11, 1.2)
			will-change transform, width

	.header-classic__hamburger--close
		.header-classic__hamburger-line--one
			transform translateX(270px)

		.header-classic__hamburger-line--two
			transform rotate(45deg)

		.header-classic__hamburger-line--three
			transform rotate(-45deg) translate(6px, -6px)

	// Menu holder
	&__menu-holder
		width 100vw
		height 'calc(100vh - %s)' % $header-mobile-height
		position fixed
		background-color $main-blue
		top $header-mobile-height
		left 0
		transform translateX(-100vw)
		transition transform 0.3s ease-in

		+aboveMedium()
			width auto
			height auto
			position static
			transform translateX(0)

	&--menu-mobile-open &__menu-holder
		transform translateX(0)

	&--logged .header-classic__menu-holder
		background-color red
		height 100vh
		top 0

	&__logged-out-navigation
		display flex
		flex-direction column
		height 100%
		width 100%
		justify-content center

		+aboveMedium()
			margin-left 30px
			flex-direction row
			justify-content flex-start

	&__logged-out-navigation-list
		display flex
		flex-direction column
		max-width 250px
		margin 0 auto

		+aboveMedium()
			flex-direction row
			margin 0
			max-width none

	&__logged-out-navigation-item
		+aboveMedium()
			&:not(:first-of-type)
				margin-left 10px

	&__logged-out-navigation-link
		color $color-white
		text-decoration none
		display block
		padding 20px
		font-weight 400
		border-radius 20px
		font-size 18px
		transition border 0.3s ease

		&--active
			color $color-blue-light
			font-weight 700

		+aboveMedium()
			font-size 14px
			padding 10px 15px
			border 1.5px solid transparent

			&:hover
				border-color #251f73

			&--active
				border-color $color-blue-light
				font-weight 400
