include ./Submenu.pug

mixin HeaderClassicNavigation()
	.header-classic__logged-out-navigation
		button#close-menu-submenu.header-classic__close-submenu Voltar
		ul.header-classic__logged-out-navigation-list
			li.header-classic__logged-out-navigation-item
				a.header-classic__logged-out-navigation-link(href="https://www.iq.com.br/") Gerencie suas contas
			li.header-classic__logged-out-navigation-item
				a.header-classic__logged-out-navigation-link(
					href="https://www.iq.com.br/cartoes/"
					class="header-classic__logged-out-navigation-link--active"
				) Cartões de crédito
			li.header-classic__logged-out-navigation-item
				a#submenuButton.header-classic__logged-out-navigation-link(
					href="https://www.iq.com.br/conteudo"
					class="header-classic__logged-out-navigation-link--submenu"
				) Blog
				+HeaderClassicSubmenu()
			li.header-classic__logged-out-navigation-item
				a.header-classic__logged-out-navigation-link(href="https://www.iq.com.br/quem-somos") Quem somos
			li.header-classic__logged-out-navigation-item
				a.header-classic__logged-out-navigation-link(href="https://www.iq.com.br/app/faq") FAQ
