.howto-list-icons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.howto-list-icons__container {
  width: 90px;
  margin: 25px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 2px;
  padding: 2px 8px;

  &:hover {
    transform: scale(1.3);
    background-color: rgb(243, 243, 243);
  }
}

.howto-container__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howto-icon__wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.howto-icon__text {
  font: 400 12px 'Courier New', 'monospace';
  display: block;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 3px;
}

.howto-section__container {
  margin-bottom: 20px;
}

.howto-section__paragraph {
  font: 400 16px 'Open Sans';
  line-height: 26px;
  margin-bottom: 14px;
  text-indent: 25px;
}

.howto-section__title-section {
  width: 100%;
  margin: 15px 0 20px 0;
  font: 700 24px 'Open Sans';
}

.howto-section__title {
  text-align: center;
  width: 100%;
  margin: 0 0 20px 0;
  font: 700 28px 'Open Sans';
}

.howto-section__code-text {
  font: 400 16px 'Open Sans';
  line-height: 26px;
  margin-left: 25px;
  background-color: #EBEBF0;
  padding: 4px 8px;
  font-style: italic;
}