@import '../../variables.styl'

.iq-input-field
	resetBoxSizing()

	&__input-holder
		position relative

	&__input
		height 48px
		border 1px solid gray-30
		border-radius 4px
		font-size 14px
		padding 11px 16px
		line-height 26px
		transition outline-color 0.3s ease
		outline-color transparent
		display block
		color gray-50
		width 100%

		&:focus
			outline-color blueberry-50

	&--invalid
		.iq-input-field__input
			border 1px solid red-40

			&:focus
				outline-color red-40

	&--disabled
		.iq-input-field__input
			border 1px color gray-30
			background-color gray-10
			color gray-30

			::placeholder
				color gray-30

	&__icon
		width 24px
		position absolute
		right 13px
		top 50%
		transform translateY(-50%)
