include ../../Grid/SpanColumns.pug

mixin IconBox({filename})
	+GridSpanColumns({})
		.icon-box(
			title=filename
		)
			.icon-box__icon-holder
				if block
					block
			p.icon-box__name #{filename}


