//Generated file, do not modify manually

include ../OutlineReceipt.pug
include ../OutlinePlusMini.pug
include ../OutlinePlus.pug
include ../OutlinePerfil.pug
include ../OutlinePayment.pug
include ../OutlineNotificationTwo.pug
include ../OutlineNotification.pug
include ../OutlineMenuLogout.pug
include ../OutlineMenu.pug
include ../OutlineHouse.pug
include ../OutlineHelp.pug
include ../OutlineGraphicbar.pug
include ../OutlineGift.pug
include ../OutlineExpandSidebar.pug
include ../OutlineContractSidebar.pug
include ../OutlineClose.pug
include ../OutlineCalendar.pug
include ../OutlineBill.pug
include ../OutlineArrowLeftOne.pug
include ../OutlineArrowLeft.pug
include ../OutlineArrowDownOne.pug
include ../OutlineArrowDown.pug
include ../OutlineAngleUpOne.pug
include ../OutlineAngleUp.pug
include ../OutlineAngleRightMini.pug
include ../OutlineAngleRight.pug
include ../OutlineAngleLeftMini.pug
include ../OutlineAngleLeft.pug
include ../OutlineAngleDownMini.pug
include ../OutlineAngleDown.pug
include ../IconHandsBackground.pug
include ../IconHandDocument.pug
include ../IconHandApp.pug
include ../FilledIconHandApp.pug

include ../../FlexGrid/index.pug
include ../../FlexGrid/Row.pug
include ./IconBox.pug
mixin IconsDemo()
	.icons-demo
		+FlexGrid({})
			+FlexGridRow()
				+IconBox({filename: "FilledIconHandApp.pug"})
					+FilledIconHandApp()

				+IconBox({filename: "IconHandApp.pug"})
					+IconHandApp()

				+IconBox({filename: "IconHandDocument.pug"})
					+IconHandDocument()

				+IconBox({filename: "IconHandsBackground.pug"})
					+IconHandsBackground()

				+IconBox({filename: "OutlineAngleDown.pug"})
					+OutlineAngleDown()

				+IconBox({filename: "OutlineAngleDownMini.pug"})
					+OutlineAngleDownMini()

				+IconBox({filename: "OutlineAngleLeft.pug"})
					+OutlineAngleLeft()

				+IconBox({filename: "OutlineAngleLeftMini.pug"})
					+OutlineAngleLeftMini()

				+IconBox({filename: "OutlineAngleRight.pug"})
					+OutlineAngleRight()

				+IconBox({filename: "OutlineAngleRightMini.pug"})
					+OutlineAngleRightMini()

				+IconBox({filename: "OutlineAngleUp.pug"})
					+OutlineAngleUp()

				+IconBox({filename: "OutlineAngleUpOne.pug"})
					+OutlineAngleUpOne()

				+IconBox({filename: "OutlineArrowDown.pug"})
					+OutlineArrowDown()

				+IconBox({filename: "OutlineArrowDownOne.pug"})
					+OutlineArrowDownOne()

				+IconBox({filename: "OutlineArrowLeft.pug"})
					+OutlineArrowLeft()

				+IconBox({filename: "OutlineArrowLeftOne.pug"})
					+OutlineArrowLeftOne()

				+IconBox({filename: "OutlineBill.pug"})
					+OutlineBill()

				+IconBox({filename: "OutlineCalendar.pug"})
					+OutlineCalendar()

				+IconBox({filename: "OutlineClose.pug"})
					+OutlineClose()

				+IconBox({filename: "OutlineContractSidebar.pug"})
					+OutlineContractSidebar()

				+IconBox({filename: "OutlineExpandSidebar.pug"})
					+OutlineExpandSidebar()

				+IconBox({filename: "OutlineGift.pug"})
					+OutlineGift()

				+IconBox({filename: "OutlineGraphicbar.pug"})
					+OutlineGraphicbar()

				+IconBox({filename: "OutlineHelp.pug"})
					+OutlineHelp()

				+IconBox({filename: "OutlineHouse.pug"})
					+OutlineHouse()

				+IconBox({filename: "OutlineMenu.pug"})
					+OutlineMenu()

				+IconBox({filename: "OutlineMenuLogout.pug"})
					+OutlineMenuLogout()

				+IconBox({filename: "OutlineNotification.pug"})
					+OutlineNotification()

				+IconBox({filename: "OutlineNotificationTwo.pug"})
					+OutlineNotificationTwo()

				+IconBox({filename: "OutlinePayment.pug"})
					+OutlinePayment()

				+IconBox({filename: "OutlinePerfil.pug"})
					+OutlinePerfil()

				+IconBox({filename: "OutlinePlus.pug"})
					+OutlinePlus()

				+IconBox({filename: "OutlinePlusMini.pug"})
					+OutlinePlusMini()

				+IconBox({filename: "OutlineReceipt.pug"})
					+OutlineReceipt()
