//Generated file, do not modify manually

include ../SearchLoader.pug
include ../OutlineViewPassword.pug
include ../OutlineSearch.pug
include ../OutlineReceipt.pug
include ../OutlineQuestion.pug
include ../OutlinePlusMini.pug
include ../OutlinePlus.pug
include ../OutlinePerfilCheck.pug
include ../OutlinePerfil.pug
include ../OutlinePayment.pug
include ../OutlinePartnership.pug
include ../OutlineNotificationTwo.pug
include ../OutlineNotification.pug
include ../OutlineMoneyIn.pug
include ../OutlineMoney.pug
include ../OutlineMenuLogout.pug
include ../OutlineMenu.pug
include ../OutlineLegalInformation.pug
include ../OutlineHouse.pug
include ../OutlineHidePassword.pug
include ../OutlineHelp.pug
include ../OutlineGraphicbar.pug
include ../OutlineGift.pug
include ../OutlineExpandSidebar.pug
include ../OutlineDocumentCheck.pug
include ../OutlineDiscounts.pug
include ../OutlineCreditCardPoints.pug
include ../OutlineContractSidebar.pug
include ../OutlineContactless.pug
include ../OutlineClose.pug
include ../OutlineCalendar.pug
include ../OutlineBill.pug
include ../OutlineArrowLeftOne.pug
include ../OutlineArrowLeft.pug
include ../OutlineArrowDownOne.pug
include ../OutlineArrowDown.pug
include ../OutlineAnnuity.pug
include ../OutlineAngleUpOne.pug
include ../OutlineAngleUp.pug
include ../OutlineAngleRightMini.pug
include ../OutlineAngleRight.pug
include ../OutlineAngleLeftMini.pug
include ../OutlineAngleLeft.pug
include ../OutlineAngleDownMini.pug
include ../OutlineAngleDown.pug
include ../IconHandsBackground.pug
include ../IconHandDocument.pug
include ../IconHandApp.pug
include ../IconBank.pug
include ../FilledError.pug

include ../../FlexGrid/index.pug
include ../../FlexGrid/Row.pug
include ./IconBox.pug
mixin IconsDemo()
	.icons-demo
		+FlexGrid({})
			+FlexGridRow()
				+IconBox({filename: "FilledError.pug"})
					+FilledError()

				+IconBox({filename: "IconBank.pug"})
					+IconBank()

				+IconBox({filename: "IconHandApp.pug"})
					+IconHandApp()

				+IconBox({filename: "IconHandDocument.pug"})
					+IconHandDocument()

				+IconBox({filename: "IconHandsBackground.pug"})
					+IconHandsBackground()

				+IconBox({filename: "OutlineAngleDown.pug"})
					+OutlineAngleDown()

				+IconBox({filename: "OutlineAngleDownMini.pug"})
					+OutlineAngleDownMini()

				+IconBox({filename: "OutlineAngleLeft.pug"})
					+OutlineAngleLeft()

				+IconBox({filename: "OutlineAngleLeftMini.pug"})
					+OutlineAngleLeftMini()

				+IconBox({filename: "OutlineAngleRight.pug"})
					+OutlineAngleRight()

				+IconBox({filename: "OutlineAngleRightMini.pug"})
					+OutlineAngleRightMini()

				+IconBox({filename: "OutlineAngleUp.pug"})
					+OutlineAngleUp()

				+IconBox({filename: "OutlineAngleUpOne.pug"})
					+OutlineAngleUpOne()

				+IconBox({filename: "OutlineAnnuity.pug"})
					+OutlineAnnuity()

				+IconBox({filename: "OutlineArrowDown.pug"})
					+OutlineArrowDown()

				+IconBox({filename: "OutlineArrowDownOne.pug"})
					+OutlineArrowDownOne()

				+IconBox({filename: "OutlineArrowLeft.pug"})
					+OutlineArrowLeft()

				+IconBox({filename: "OutlineArrowLeftOne.pug"})
					+OutlineArrowLeftOne()

				+IconBox({filename: "OutlineBill.pug"})
					+OutlineBill()

				+IconBox({filename: "OutlineCalendar.pug"})
					+OutlineCalendar()

				+IconBox({filename: "OutlineClose.pug"})
					+OutlineClose()

				+IconBox({filename: "OutlineContactless.pug"})
					+OutlineContactless()

				+IconBox({filename: "OutlineContractSidebar.pug"})
					+OutlineContractSidebar()

				+IconBox({filename: "OutlineCreditCardPoints.pug"})
					+OutlineCreditCardPoints()

				+IconBox({filename: "OutlineDiscounts.pug"})
					+OutlineDiscounts()

				+IconBox({filename: "OutlineDocumentCheck.pug"})
					+OutlineDocumentCheck()

				+IconBox({filename: "OutlineExpandSidebar.pug"})
					+OutlineExpandSidebar()

				+IconBox({filename: "OutlineGift.pug"})
					+OutlineGift()

				+IconBox({filename: "OutlineGraphicbar.pug"})
					+OutlineGraphicbar()

				+IconBox({filename: "OutlineHelp.pug"})
					+OutlineHelp()

				+IconBox({filename: "OutlineHidePassword.pug"})
					+OutlineHidePassword()

				+IconBox({filename: "OutlineHouse.pug"})
					+OutlineHouse()

				+IconBox({filename: "OutlineLegalInformation.pug"})
					+OutlineLegalInformation()

				+IconBox({filename: "OutlineMenu.pug"})
					+OutlineMenu()

				+IconBox({filename: "OutlineMenuLogout.pug"})
					+OutlineMenuLogout()

				+IconBox({filename: "OutlineMoney.pug"})
					+OutlineMoney()

				+IconBox({filename: "OutlineMoneyIn.pug"})
					+OutlineMoneyIn()

				+IconBox({filename: "OutlineNotification.pug"})
					+OutlineNotification()

				+IconBox({filename: "OutlineNotificationTwo.pug"})
					+OutlineNotificationTwo()

				+IconBox({filename: "OutlinePartnership.pug"})
					+OutlinePartnership()

				+IconBox({filename: "OutlinePayment.pug"})
					+OutlinePayment()

				+IconBox({filename: "OutlinePerfil.pug"})
					+OutlinePerfil()

				+IconBox({filename: "OutlinePerfilCheck.pug"})
					+OutlinePerfilCheck()

				+IconBox({filename: "OutlinePlus.pug"})
					+OutlinePlus()

				+IconBox({filename: "OutlinePlusMini.pug"})
					+OutlinePlusMini()

				+IconBox({filename: "OutlineQuestion.pug"})
					+OutlineQuestion()

				+IconBox({filename: "OutlineReceipt.pug"})
					+OutlineReceipt()

				+IconBox({filename: "OutlineSearch.pug"})
					+OutlineSearch()

				+IconBox({filename: "OutlineViewPassword.pug"})
					+OutlineViewPassword()

				+IconBox({filename: "SearchLoader.pug"})
					+SearchLoader()
