// styles to be applied on all stories
@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../../src/fonts/OpenSans-SemiBold.woff2') format('woff2')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans Regular'), local('OpenSans-Regular'), url('../../src/fonts/OpenSans-Regular.woff2') format('woff2')

@font-face
	font-family 'Baloo Chettan 2'
	font-style normal
	font-weight 600
	src url('../../src/fonts/BalooChettan2-SemiBold.woff2') format('woff2')


.sbdocs-preview

	.iq-message--fixed,
	.iq-message--appended,
	.iq-message--fixed.iq-message--appended
		position relative 
		bottom auto