@import '../../variables'

.h1, .h2, .h3, .h4, .h5, .h6
	componentDeepReset()
	font-family 'Baloo Chettan 2', 'Open Sans'

	&, &--primary
		color blueberry-80

	&--secondary
		color gray-100

	&--tertiary
		color gray-50

.h1
	font-size heading-one-mobile-font-size
	line-height heading-one-mobile-line-height

	+aboveSmall()
		font-size heading-one-desk-font-size
		line-height heading-one-desk-line-height

.h2
	font-size heading-two-mobile-font-size
	line-height heading-two-mobile-line-height

	+aboveSmall()
		font-size heading-two-desk-font-size
		line-height heading-two-desk-line-height

.h3
	font-size heading-three-mobile-font-size
	line-height heading-three-mobile-line-height

	+aboveSmall()
		font-size heading-three-desk-font-size
		line-height heading-three-desk-line-height

.h4
	font-size heading-four-mobile-font-size
	line-height heading-four-mobile-line-height

	+aboveSmall()
		font-size heading-four-desk-font-size
		line-height heading-four-desk-line-height

.h5
	font-size heading-five-mobile-font-size
	line-height heading-five-mobile-line-height

	+aboveSmall()
		font-size heading-five-desk-font-size
		line-height heading-five-desk-line-height

.h6
	font-size heading-six-mobile-font-size
	line-height heading-one-mobile-line-height

	+aboveSmall()
		font-size heading-six-desk-font-size
		line-height heading-one-desk-line-height
