mixin OutlineSearchRemove()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 32')
			path(fill-rule='evenodd', clip-rule='evenodd', d='M8.118 19.138c-3.11-3.11-3.136-8.09-.103-11.122 3.032-3.033 8.011-3.006 11.121.104 3.11 3.11 3.137 8.089.104 11.121-3.032 3.033-8.012 3.006-11.122-.103zm-1.35-12.37c-3.742 3.742-3.676 9.838.103 13.617 3.567 3.566 9.197 3.826 12.964.698l6.659 6.66a.882.882 0 001.247-1.248l-6.659-6.66c3.127-3.766 2.867-9.396-.699-12.962-3.778-3.779-9.874-3.845-13.616-.104zm2.037 2.038a1.039 1.039 0 011.47 0l3.42 3.42 3.42-3.42a1.039 1.039 0 011.47 1.469l-3.421 3.42 3.42 3.421a1.039 1.039 0 11-1.468 1.47l-3.421-3.421-3.42 3.42a1.039 1.039 0 01-1.47-1.469l3.42-3.42-3.42-3.421a1.039 1.039 0 010-1.47z', fill='#991717')