mixin OutlineArrowLeftOne()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
			path(d='M14.175 19.5L20.5 12l-6.325-7.5M20.5 12h-17', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')