mixin OutlineAngleRight()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
			path(d='M6.5 1.75l10.92 9.8c.107.1.107.3 0 .5L6.5 22.25', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')