mixin OutlineAngleLeft()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
			path(d='M17.5 22.25l-10.92-9.8c-.107-.1-.107-.3 0-.5L17.5 1.75', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')