mixin OutlineHelp()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
			path(d='M12 21a9 9 0 100-18 9 9 0 000 18z', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
			path(d='M12 16.5a4.5 4.5 0 100-9 4.5 4.5 0 000 9zM7.692 10.18L4.628 7.022M16.979 19.372l-3.256-3.255M16.117 13.723l3.16 3.256M7.021 4.628l3.16 3.16M17.074 4.628L13.82 7.883M16.213 10.18l3.255-3.159M7.117 19.372l3.16-3.16M7.787 13.82l-3.064 3.159', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')