mixin OutlinePayment()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
			path(d='M17.32 14.163H2.531c-.32 0-.532-.2-.532-.503V4.503C2 4.201 2.213 4 2.532 4h14.787c.32 0 .532.201.532.503v9.157c0 .201-.213.503-.532.503z', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
			path(d='M20.404 9.836h1.064c.32 0 .532.202.532.503v9.158c0 .302-.213.503-.532.503H6.681c-.32 0-.532-.201-.532-.503v-2.918', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')
			path(d='M18.064 6.113H2.213v2.013h15.85V6.113z', fill='#444')
			path(d='M4.872 11.145H8.17M10.51 11.145h1.597', stroke='currentColor', stroke-width='1.5', stroke-miterlimit='10', stroke-linecap='round', stroke-linejoin='round')