mixin OutlineContractSidebar()
	.iq-icon
		svg(fill='none', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
			path(d='M8.237 17.155l.306-.306a.52.52 0 000-.734L4.91 12.504h16.264a.52.52 0 00.52-.52v-.432a.52.52 0 00-.52-.52H4.911l3.632-3.61a.52.52 0 000-.734l-.306-.306a.52.52 0 00-.735 0l-5.04 5.02a.52.52 0 000 .734l5.04 5.019a.52.52 0 00.735 0z', fill='#1A1A1A')
			rect(x='12.464', y='6.23', width='9.231', height='1.385', rx='.462', fill='#666')
			rect(x='12.464', y='16.384', width='9.231', height='1.385', rx='.462', fill='#666')