*
	font-family 'Open sans'

.icon-box
	display flex
	flex-direction column
	align-items center
	padding 5px 0
	position relative

	&__icon-holder
		margin-bottom 4px

	&__name
		font-size 12px
		display block
		text-align center
		width 100%
		word-wrap break-word
		font-family: 'Courier New', monospace;

	&__full-desc
		position fixed
		top 0
