mixin Certificates()
	.footer-classic__certificates
		h2.footer-classic__certificates-title Certificados
		
		.footer-classic__certificates-wrap 
			.footer-classic__certificates-image
				img( src="https://static.iq360.com.br/images/certificates/ssl.svg" alt="SSL Blindado" )
			.footer-classic__certificates-image
				img( src="https://static.iq360.com.br/images/certificates/reclame-aqui.svg" alt="Ótimo Reclame Aqui!" )
			.footer-classic__certificates-image
				img( src="https://static.iq360.com.br/images/certificates/pci.svg" alt="PCI" )