mixin FooterInfo(partnerEmail = null)
	.footer-classic__info
		.footer-classic__container(
			class="footer-classic__container--info"
		)
			.footer-classic__info-left
				.footer-classic__info-block
					span Iq360 Servicos de Informacao e Tecnologia Ltda.
					span CNPJ: 30.247.128/0001-15

				.footer-classic__info-block
					span Rua Cardeal Arcoverde nº 2365, Conjuntos 81 a 84, Sala 3, Bairro: Pinheiros, na cidade de São Paulo, estado de São Paulo, CEP: 05407-003
			
			.footer-classic__info-right
				.footer-classic__info-block(
					class="footer-classic__info-block--contact"
				)
					span
						strong Atendimento
					span contas.contato@iq.com.br
					if (partnerEmail)
						span #{partnerEmail}

				.footer-classic__info-block(
					class="footer-classic__info-block--copy"
				)
					span &copy; - iq - Todos os direitos reservados