@import '../variables'

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h6
	font-family 'Baloo Chettan 2', cursive

	&, &--primary
		color blueberry-80

	&--secondary
		color gray-100

	&--tertiary
		color gray-50

h1, .h1
	font-size heading-one-desk-size
	line-height heading-one-desk-line

