include ./index.pug

mixin Demo({})
	+Text({variant: "heading-one"}) heading-one
	+Text({variant: "heading-two"}) heading-Two
	+Text({variant: "heading-three"}) heading-Three
	+Text({variant: "heading-four"}) heading-four
	+Text({variant: "heading-five"}) heading-Five
	+Text({variant: "heading-six"}) heading-Six
	br
	+Text({variant: "body-large"}) body-large
	+Text({variant: "body-medium"}) body-medium
	+Text({variant: "body-small"}) body-small
	+Text({variant: "body-micro"}) body-micro
	br
	+Text({variant: "number-large"}) number-large
	+Text({variant: "number-medium"}) number-medium
	+Text({variant: "number-small"}) number-small
	+Text({variant: "number-micro"}) number-micro
