@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular.woff2') format('woff2')

@font-face
	font-family 'Baloo Chettan 2'
	font-style normal
	font-weight 600
	src url('../fonts/BalooChettan2-SemiBold.woff2') format('woff2')
