@import '../variables.styl'

$border-size = 2px
$horizontal-borders = 'calc(%s * 2)' % $border-size

@keyframes spin
	100%
		transform rotate(360deg)

.iq-btn
	componentDeepReset()
	font-family button-font-family
	font-weight button-font-weight
	font-size button-font-size
	line-height button-line-height
	box-sizing border-box
	outline none
	cursor pointer
	border none
	border-radius 4px
	text-align center
	padding 13px 16px
	display flex
	align-items center
	background-color blueberry-60
	color gray-0
	transition background-color 0.15s ease-in, border-color 0.15s ease-in, color 0.15s ease-in // padronizar depois as animações

	&__icon-slot
		margin-right 10px
		order 1

	&--only-icon
		.iq-btn__icon-slot
			margin 0

	&--icn-right
		.iq-btn__icon-slot
			order 2
			margin-right 0
			margin-left 10px

	&__text
		order 2

	&--icn-right
		.iq-btn__text
			order 1

	// Color definitions by type and scheme
	// Primary default
	&
		background-color blueberry-60
		border $border-size solid blueberry-60
		color gray-0

		&:hover
			background-color blueberry-50
			border-color blueberry-50

		&:active
			background-color blueberry-70
			border-color blueberry-70

	// Primary inverted
	&--color-inverted
		background-color cyan-30
		border-color cyan-30
		color blueberry-60

		&:hover
			background-color cyan-20
			border-color cyan-20

		&:active
			background-color cyan-40
			border-color cyan-40

	// Primary danger
	&--color-danger
		background-color red-30
		border-color red-30
		color red-100

		&:hover
			background-color red-20
			border-color red-20

		&:active
			background-color red-40
			border-color red-40

	// primary disabled
	&--disabled
		&, &:hover, &:active
			background-color gray-30
			border-color gray-30
			color gray-50
			cursor not-allowed

	// Secondary button
	&--type-secondary
		background-color transparent
		border-color blueberry-60
		color blueberry-60

		&:hover
			background-color blueberry-50
			border-color blueberry-50
			color gray-0

		&:active
			background-color blueberry-70
			border-color blueberry-70
			color gray-0

	// Secondary danger
	&--type-secondary&--color-danger
		color red-30
		border-color red-30

		&:hover
			background-color red-20
			border-color red-20
			color red-100

		&:active
			background-color red-40
			border-color red-40

	// Secondary inverted
	&--type-secondary&--color-inverted
		border-color cyan-30
		color cyan-30

		&:hover
			background-color cyan-20
			border-color cyan-20
			color blueberry-60

		&:active
			background-color cyan-40
			border-color cyan-40
			color blueberry-60

	// Secondary disabled
	&--type-secondary&--disabled
		&, &:hover, &:active
			border-color gray-30
			color gray-30
			background-color transparent

	// Only text button
	&--type-text
		&, &:hover
			background-color transparent
			border-color transparent

	// Type text default
	&--type-text
		color blueberry-60

		&:hover
			color blueberry-50

		&:active
			color blueberry-70
			border-color blueberry-70

	// type text inverted
	&--type-text&--color-inverted
		color cyan-30

		&:hover
			color cyan-30

		&:active
			color cyan-40
			border-color cyan-40

	// type text danger
	&--type-text&--color-danger
		color red-30

		&:hover
			color red-20

		&:active
			color red-40
			border-color red-40

	// type text disabled
	&--type-text&--disabled
		&, &:hover, &:active
			background-color transparent
			border-color transparent
			color gray-50

	// loading
	&--loading, &--type-secondary&--loading, &--type-text&--loading
		position relative
		background-color blueberry-60
		cursor default
		border-color blueberry-60

		.iq-btn__loading-overlay
			position absolute
			width 100%
			height 100%
			top 0
			left 0
			background-color blueberry-60
			display flex
			align-items center
			justify-content center

		.iq-btn__loading-spinner
			animation spin 1s infinite linear
			width 22px
			height 22px
			border-radius 50%
			background-image linear-gradient(to bottom, blueberry-40 40%, blueberry-50)
			position relative
			z-index 0

			&:before, &:after
				content ''
				display block

			&:before
				z-index 1
				height 50%
				width 100%
				border-radius 30px 30px 0 0
				position absolute
				top 0
				background-image linear-gradient(to right, transparent 40%, gray-0)

			&:after
				width 15px
				height 15px
				position absolute
				top 50%
				left 50%
				border-radius 50%
				transform translate(-50%, -50%)
				background-color blueberry-60
				z-index 2

	// Button size variations
	&--size-large
		padding 'calc(19px - %s) 16px' % $horizontal-borders

	&--size-medium
		padding 'calc(13px - %s) 16px' % $horizontal-borders

	&--size-small
		padding 'calc(5px - %s) 16px' % $horizontal-borders

	// Button expansion variations
	&--expand-x, &--expand-xy
		width 100%

	&--expand-y, &--expand-xy
		height 100%

	&--only-icon
		border-radius 100%
		width 48px
		height 48px
		padding 0
		justify-content center
