@import '../variables.styl'

.iq-confirmation-modal
  .iq-centralized-modal__content
    +aboveMedium()
      display flex
      flex-flow column

  .iq-confirmation-modal__content
    display flex
    flex 1
    flex-flow column
    justify-content space-between

    .iq-confirmation-modal__button
      +aboveMedium()
        padding-bottom 24px

      &:after
        +aboveMedium()
          background-color gray-40
          bottom 0
          content ''
          display block
          height 1px
          left -32px
          position absolute
          width calc(100% + 64px)

  .iq-confirmation-modal__content-top
    +aboveMedium()
      margin-bottom 24px

    .iq-confirmation-modal__title
      color black
      font-size 16px
      margin-bottom 0
      margin-top 16px
      text-align center

      +aboveMedium()
        font-size 18px
        text-align left

    .iq-confirmation-modal__text
      color gray-60
      font-size 14px
      line-height 22px
      margin-bottom 0
      margin-top 11px
      text-align center

      +aboveMedium()
        margin-top 16px
        text-align left

  .iq-confirmation-modal__bottom
    display flex
    justify-content space-between
    margin-top 24px

    +aboveMedium()
      position relative

      &:before
        background-color gray-40
        content ''
        display block
        height 1px
        left -32px
        position absolute
        top -24px
        width calc(100% + 64px)

    .iq-btn
      display flex
      justify-content center
      width 48%
