@import '../variables.styl'

@keyframes shake-horizontal
	0%, 100%
		-webkit-transform translateX(0)
		transform translateX(0)

	10%, 30%, 50%, 70%
		-webkit-transform translateX(-10px)
		transform translateX(-10px)

	20%, 40%, 60%
		-webkit-transform translateX(10px)
		transform translateX(10px)

	80%
		-webkit-transform translateX(8px)
		transform translateX(8px)

	90%
		-webkit-transform translateX(-8px)
		transform translateX(-8px)

@keyframes rotating
	from
		transform rotate(0deg)

	to
		transform rotate(360deg)

// field base (label + error message)
.iq-field-base
	resetBoxSizing()
	font-family 'Open Sans'
	margin-bottom 25px

	&__label-holder
		display flex
		align-items center
		margin-bottom 8px

	&__label
		font-weight 600
		font-size 14px
		line-height 22px
		display block
		margin-right 8px

	&__required
		color red-50

	&__error-message
		padding 0
		margin 0
		line-height 20px
		color red-50
		margin-top 8px
		font-size 12px
		animation shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both

// base input field
.iq-input-field
	resetBoxSizing()
	position relative

	.iq-field-base__error-message
		display none

	&--invalid, &.error
		.iq-field-base__error-message
			display block

	&__input-holder
		position relative

	&__input
		height 48px
		border 1px solid gray-40
		border-radius 4px
		font-size 14px
		padding 11px 16px
		line-height 26px
		transition outline-color 0.3s ease
		outline-color transparent
		display block
		color gray-60
		width 100%

		&:focus
			outline-color blueberry-50

		&::selection
			background-color blueberry-50
			color gray-0

		&::placeholder
			color gray-40

	&--left-icon
		.iq-input-field__input
			padding-left 48px

	&--invalid, &.error
		.iq-input-field__input
			border 1px solid red-40

			&:focus
				outline-color red-40

	&--disabled
		.iq-input-field__input
			border 1px solid gray-30
			background-color gray-10
			color gray-40

			::placeholder
				color gray-40

	&__icon
		width 24px
		position absolute
		right 13px
		top 50%
		transform translateY(-50%)

		&--left
			left 13px

		&--right
			right 13px

	&__invalid-icon
		display none

	&--invalid, &.error
		.iq-input-field__invalid-icon
			display block

	&__dropdown
		position absolute
		width 100%
		min-height 100px
		max-height 250px
		background-color gray-0
		box-shadow 1px 3px 19px -6px rgba(0, 0, 0, 0.3)
		top calc(100% + 4px)
		z-index 1
		border-radius 4px
		padding 0
		margin 0
		list-style none
		padding 8px 0
		overflow-y scroll

	&__dropdown-option
		width 100%
		cursor pointer
		padding 8px 12px
		font-size 14px
		transition background-color .2s ease

		&:hover
			background-color blueberry-10

// email field
.iq-input-autosuggestion
	position absolute
	top 100%
	display block
	width 100%
	max-height 222px
	background #fff
	list-style none
	padding 0
	margin 0
	cursor pointer
	box-shadow 0 8px 12px 0 rgba(0 0 0 0.08)
	overflow auto
	z-index 21

	&__option
		padding 8px 20px
		font-size 14px
		color #000

		&:hover
			background-color #e6e6e6

// password field
.iq-password-field
	.iq-input-field__input
		color gray-40

	&__eye
		cursor pointer
		color blueberry-60

// select field
.iq-select-field
	resetBoxSizing()

	&__input
		height 48px
		border 1px solid gray-40
		border-radius 4px
		font-size 14px
		padding 11px 16px
		line-height 26px
		transition outline-color 0.3s ease
		outline-color transparent
		display block
		color gray-60
		width 100%
		appearance none
		background-color transparent
		position relative
		z-index 1

		&:focus
			outline-color blueberry-50

		&:invalid
			color red-40

	&--empty
		.iq-select-field__input
			color gray-30

	&--invalid, &.error
		.iq-select-field__input
			border 1px solid red-40

			&:focus
				outline-color red-40

	&--disabled
		.iq-select-field__input
			border 1px solid gray-30
			background-color gray-10
			color gray-40

	&__select-holder
		position relative
		background-color gray-0
		border-radius 4px

	&__icon-holder
		color gray-60
		position absolute
		width 20px
		position absolute
		right 13px
		top 50%
		transform translateY(-50%)
		z-index 0

// search field
.iq-search-field
	&__loader-holder
		animation rotating 2s linear infinite

.iq-checkbox-field
	resetBoxSizing()
	font-family 'Open Sans'
	display inline-block
	cursor pointer
	list-style none
	font-size 14px
	position relative
	margin-right 32px
	margin-bottom 32px

	+aboveMedium()
		margin-right 24px
		margin-bottom 24px

	&--disabled
		cursor not-allowed
		color gray-40

	&__holder
		cursor pointer
		display flex
		align-items center

	&--disabled
		.iq-checkbox-field__holder
			cursor not-allowed

	&__required-star
		color red-50
		display none

	&--required
		.iq-checkbox-field__required-star
			display inline

	&__icon
		flex-shrink 0
		flex-grow 0
		width 24px
		height 24px
		background-color gray-0
		border 1px solid gray-40
		border-radius 2px
		display block
		margin-right 12px
		position relative
		transition background-color 0.2s ease

		+aboveMedium()
			width 16px
			height 16px

		&:after
			content ''
			display block
			opacity 0
			left 8px
			top 4px
			position absolute
			transform rotate(45deg)
			width 6px
			height 12px
			border solid white
			border-width 0 2px 2px 0
			border-radius 1px
			transition opacity 0.2s ease 0.2s

			+aboveMedium()
				left 3.7px
				top 1px
				height 10px
				width 6px

	&--invalid, &.error
		.iq-checkbox-field__icon
			border-color red-40

	&__input
		position absolute
		opacity 0
		cursor pointer
		height 0
		width 0

		&:checked ~ .iq-checkbox-field__icon:after
			opacity 1

		&:checked ~ .iq-checkbox-field__icon
			background-color blueberry-60
			border-color blueberry-60

	&--disabled
		.iq-checkbox-field__icon
			background-color gray-10
			border-color gray-30

		.iq-checkbox-field__icon:after
			border-color gray-30

		.iq-checkbox-field__input
			&:checked ~ .iq-checkbox-field__icon
				background-color gray-10
				border-color gray-30

	&__invalid-holder
		margin-top 6px
		align-items center
		font-size 12px
		color red-50
		display none

	&__invalid-icon-holder
		width 16px
		margin-right 6px

	&--invalid, &.error
		.iq-checkbox-field__invalid-holder
			display flex

.iq-checkbox-group
	max-width 500px

	&__container
		padding-top 15px
		display grid
		grid-template-columns 1fr 1fr 1fr

.iq-radio-field
	resetBoxSizing()
	font-size 14px
	font-family 'Open Sans'

	&__container
		display grid
		grid-template-columns repeat(3, 1fr)
		column-gap 30px
		row-gap 16px

	&--max-size
		.iq-radio-field__container
			max-width 500px

	&__option
		cursor pointer
		position relative

	&__option-holder
		display flex
		align-items center
		cursor pointer
		position relative
		padding 8px

	&--disabled
		.iq-radio-field__option-holder
			color gray-40
			cursor not-allowed

	&__icon
		width 16px
		height 16px
		border 1px solid gray-40
		display block
		margin-right 13px
		border-radius 50%
		flex-shrink 0
		flex-grow 0

		&:after
			content ''
			display block
			width 100%
			height 100%
			position absolute
			top 0
			left 0
			border 1px solid gray-40
			border-radius 8px
			z-index -1

	&--disabled
		.iq-radio-field__icon, .iq-radio-field__icon:after
			border-color gray-30

	&--invalid, &.error
		.iq-radio-field__icon:after
			border-color red-40

	&__input
		position absolute
		opacity 0
		cursor pointer
		height 0
		width 0

		&:checked ~ .iq-radio-field__icon
			border 5px solid blueberry-60

		&:checked ~ .iq-radio-field__icon:after
			border-color blueberry-60

	&--disabled
		.iq-radio-field__input
			&:checked ~ .iq-radio-field__icon
				border-color gray-30

			&:checked ~ .iq-radio-field__icon:after
				border-color gray-30
