@import '../variables.styl'

$column-padding-xsmall = 'calc((%s / 2))' % grid-fluid-gutter-xsmall
$column-padding-medium = 'calc((%s / 2))' % grid-fluid-gutter-medium

.grid
	elementReset()
	box-sizing border-box
	margin 0 auto
	padding 0 grid-fixed-margin-xsmall
	max-width grid-fixed-max-width
	display flex
	flex-direction column

	+aboveMedium()
		padding 0 grid-fixed-margin-medium

	&--fluid
		max-width none
		padding 0 grid-fluid-margin-xsmall

		+aboveMedium()
			padding 0 grid-fluid-margin-medium

	&--prototyping
		background-color blueberry-30
		position relative

		&:after, &:before
			display block
			content ''
			position absolute
			background-color blueberry-80
			top 0
			height 100%
			width grid-fixed-margin-xsmall

			+aboveMedium()
				width grid-fixed-margin-medium

		&:before
			left 0

		&:after
			right 0

	&--prototyping&--fluid
		background-color cyan-30

		&:before, &:after
			background-color cyan-80
			width grid-fluid-margin-xsmall

			+aboveMedium()
				width grid-fluid-margin-medium

	&__row
		elementReset()
		display flex
		flex-wrap wrap
		margin 0 'calc(-%s / 2)' % grid-fluid-gutter-xsmall

		+aboveMedium()
			margin 0 'calc(-%s / 2)' % grid-fluid-gutter-medium

		&--no-wrap
			flex-wrap none

	// columns span
	&__span
		elementReset()
		padding-top 0
		flex 0 0 'calc((100% / %s) - %s)' % (grid-columns-xsmall grid-fluid-gutter-xsmall)
		margin 0 $column-padding-xsmall
		box-sizing border-box
		overflow hidden
		margin-bottom grid-fluid-gutter-xsmall

		+aboveSmall()
			flex-basis 'calc((100% / %s) - %s)' % (grid-columns-small grid-fluid-gutter-xsmall)

		+aboveMedium()
			flex-basis 'calc((100% / %s) - %s)' % (grid-columns-medium grid-fluid-gutter-medium)
			margin 0 $column-padding-medium
			margin-bottom grid-fluid-gutter-medium

		// Phone span columns
		+between(breakpoints-xsmall, breakpoints-small)
			&--phone-half
				flex-basis 'calc(50% - %s)' % grid-fluid-gutter-xsmall

			&--phone-full
				flex-basis 'calc(100% - %s)' % grid-fluid-gutter-xsmall

			&--phone-hide
				display none

			for columnSpan in 1 .. 4
				&--phone-{columnSpan}
					flex-basis 'calc((100% / %s) * %s - %s)' % (grid-columns-xsmall columnSpan grid-fluid-gutter-xsmall)

		// Tablet span columns
		+between(breakpoints-small, breakpoints-medium)
			&--tablet-half
				flex-basis 'calc(50% - %s)' % grid-fluid-gutter-xsmall

			&--tablet-full
				flex-basis 'calc(100% - %s)' % grid-fluid-gutter-xsmall

			&--tablet-hide
				display none

			for columnSpan in 1 .. 8
				&--tablet-{columnSpan}
					flex-basis 'calc((100% / %s) * %s - %s)' % (grid-columns-small columnSpan grid-fluid-gutter-xsmall)

		// Desktop span columns
		+aboveMedium()
			&--desktop-half
				flex-basis 'calc(50% - %s)' % grid-fluid-gutter-medium

			&--desktop-full
				flex-basis 'calc(100% - %s)' % grid-fluid-gutter-medium

			&--desktop-hide
				display none

			for columnSpan in 1 .. 12
				&--desktop-{columnSpan}
					flex-basis 'calc((100% / %s) * %s - %s)' % (grid-columns-medium columnSpan grid-fluid-gutter-medium)

	&--prototyping &__span
		background-color cyan-50

	&--prototyping&--fluid &__span
		background-color cyan-70

.demo-content
	width 100%
	display flex
	align-items center
	justify-content center
	height 50px
	font-family 'Open Sans'
	font-size 13px
	color white
