.iq-icon
	box-sizing border-box
	width 24px
	height 24px
	display flex
	align-items center
	justify-content center

	&--expand
		width 100%
		height 100%

	svg
		width auto
		height 100%
		display block


