@import '../variables.styl'

.iq-link
	elementReset()
	color blueberry-60
	font-family font-primary-font-family
	font-size 14px
	font-weight font-secondary-weight-default
	line-height 22px
	text-decoration-line underline

	&:visited
		color blueberry-60
